@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background-color: $eerie-black;
  font-family: $fonte;
  box-sizing: border-box;
  overflow-x: hidden;
}
