// Colors
$eerie-black: #171717;
$eerie-black-2: #191919;
$eerie-black-3: #1c1c1b;
$eerie-black-4: #1f1f1e;
$eerie-black-5: #222221;
$jet: #363635;
$davis-gray: #484847;
$davis-gray-2: #595958;
$timberwolf: #d2d2d2;
$timberwolf-2: #d6d6d6;
$platinum: #e0e0e0;
$anti-flash: #eeeeee;
$anti-flash-2: #fcfcfc;

// Font Style
$fonte: 'Space Mono', monospace;